*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: MatchaLatte;
	src: url(./Matcha\ Latte\ Script.ttf);
	font-weight: 700;
	font-style: normal;
}

body {
	min-height: 100vh;
	background-color: #dea710;
	font-family: Roboto, sans-serif;
}

nav {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	gap: 3px;
}

.tab-btn {
	width: clamp(120px, 140px, 170px);
	height: 50px;
	background-color: gold;
	border: 1px solid #000;
	font-family: MatchaLatte, sans-serif;
	font-weight: 600;
	font-size: 2rem;
}

.tab-h:hover {
	cursor: pointer;
	background-color: #fcf403;
}

.tab-active {
	transform: scale(1.1);
	background-color: #fcca03;
}

#content div {
	width: 80%;
	margin: 0 auto;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	align-items: center;
	background-color: #f5d069;
	padding: 1rem 0;
	-webkit-box-shadow: 0px 0px 10px 3px #000000;
	-moz-box-shadow: 0px 0px 10px 3px #000000;
	-o-box-shadow: 0px 0px 10px 3px #000000;
	box-shadow: 0px 0px 10px 3px #000000;
}

div > h1 {
	font-family: MatchaLatte, sans-serif;
	font-size: 3rem;
	text-align: center;
}

p {
	width: 60%;
	max-width: 490px;
	font-family: Roboto, sans-serif;
}

ul {
	width: 30%;
	margin: 0 auto;
}

.contact-p {
	text-align: center;
	margin: 0 auto;
}

footer {
	text-align: center;
	padding: 1rem 0;
}
